:root {
    --color-white: #ffffff;
    --color-purple-lavender: #e39ff6;
    --color-purple-lilac: #b65fcf;
    --color-black: #000000;
}

.container {
    padding: 10px 20px;
}

.bodyWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 10px;
    row-gap: 60px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);

    &:visited {
        color: var(--color-black);
    }

    &:hover {
        color: var(--color-purple-lilac);
    }
}
